.nav-profile{
    margin-right: 2em;
    cursor: pointer;
    transition: opacity .3s ease;
    opacity:75%;
}
.nav-profile:hover{
    opacity: 1;
}

.dashboard .card-group{
    margin-bottom: 2em;
}
.dashboard .card{
    cursor: pointer;
    min-width: 25%;
    max-width: 50%;
}
@media (max-width:900px) {
  .dashboard .card{
    min-width: 100% !important;
  }
}

.dashboard-title{
    margin:0;
    margin-left: 1em;
    font-weight: 200;
    font-size: 1.5em;
}
.dashboard-nav{
    height:5em;
    padding: 0 !important;
}