.dashboard main{
    width: 80%;
}
.dashboard main h2, .dashboard main h3{
    margin: 1em 0;
}
.dashboard .card-group{
    margin-bottom: 2em;
}
.dashboard .card{
    max-width: 400px;
    height: 300px;
}
.dashboard-title{
    margin:0;
    margin-left: 1em;
    font-weight: 200;
    font-size: 1.5em;
}

@media (max-width: 1100px) {
  .dashboard .card {
    width: 300px;
    height: 400px;
  }
}

@media (max-width: 900px) {
  .dashboard .card {
    min-width: 100%;
    height: auto;  
  }
  .dashboard-title{
    margin-left: 4em;
  }
}