.dashboard-heading{
    height:5em;
    padding: 0 !important;
}
.dashboard-title{
    margin:0;
    font-weight: 200;
    font-size: 1.5em;
}
.dashboard main{
    width: 80%;
}
.dashboard main h2, .dashboard main h3{
    margin: 1em 0;
}
.dashboard .card-group{
    margin-bottom: 2em;
}
.dashboard .card{
    max-width: 400px;
    min-width: 350px;
    height: 300px;
}

@media (max-width: 1100px) {
  .dashboard .card {
    min-width: 100%;   /* full width */
    /* optional: height adjustment */
    height: auto;  
  }
}