.main-container{
    height: 100vh;
    overflow: hidden;
}
.main-container main{
    height: calc(100vh - 5em);
    overflow-y: scroll;
    scrollbar-width: none;    /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}
.main-container main::-webkit-scrollbar {
  display: none;            /* Chrome, Safari, Edge */
}
.nav-profile{
    margin-right: 2em;
    cursor: pointer;
    transition: opacity .3s ease;
    opacity:75%;
}
.nav-profile:hover{
    opacity: 1;
}

.dashboard main{
    width: 80%;
}
.dashboard main h2, .dashboard main h3{
    margin: 1em 0;
}
.dashboard .card-group{
    margin-bottom: 2em;
}
.dashboard .card{
    cursor: pointer;
    min-width: 25%;
    max-width: 50%;
}
@media (max-width:640px) {
  .dashboard .card{
    min-width: 100% !important;
  }
}

.dashboard-title{
    margin:0;
    margin-left: 1em;
    font-weight: 200;
    font-size: 1.5em;
}
.dashboard-nav{
    height:5em;
    padding: 0 !important;
}