<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Layout page{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block css %}{% endblock %}

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav id="navbar">
            <div class="logo-container">
                <img src="{% static 'images/logo.png' %}" alt="Luis Mendez Photography Logo" class="logo">
            </div>
            <div class="navigation-container">
                <ul>
                    {% url 'home' as url %}
                    <li><a href="#home" class="{% if request.path == url %}active{% endif %}">Home</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>


    <footer>
        <p>&copy; 2025 Luis Mendez Photography. All rights reserved.</p>
    </footer>
    {% block script %}{% endblock%}
</body>
</html>