main{
    height: 100vh;
    padding-top: 5em;
    overflow: hidden;
    width: 70%;
}
main{
    height: calc(100vh - 5em);
    overflow-y: scroll;
    scrollbar-width: none;    /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}
main h2, main h3{
    margin: 1em 0;
}
main::-webkit-scrollbar {
  display: none;            /* Chrome, Safari, Edge */
}

@media (max-width:900px) {
    main{
        width: 80%;
    }
}